html{
    scroll-behavior: smooth;
}

body{
    color: lightgrey;
    background-color: navy;
    grid-template-columns: 1fr 3fr 1fr;
    display: grid; 
}

.main-container{
    grid-column-start: 1;
    grid-column-end: 4;
}