html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(39, 39, 39);
}

.main-container{
    color: lightgrey;
    background-color: rgb(39, 39, 39);
    grid-template-columns: 1fr 2fr 1fr;
    display: grid; 
}

.elements{
    grid-column: 2;
}

.chat-input{
    width: 50vw;
}

.message-box{
    text-align: left;
}
.messages-container{

    border: 1px solid;
    border-color: var(--text-light);
}

.message-box > .message-name{
    font-weight: bold;
}